<% unless @messages.blank? %>
    <% @messages.each do |message| %>
        <br/>
        <% sender = sender(message) %>
        <span class="secondary label">
                <h5><b><%= sender.first_name %></b>:&nbsp;<%= message.body %></h5>
              </span>
    <% end %>
<% else %>
    You have no messages
<% end %>
