<div class="small-12 columns">
  <h2>Helping your workouts reach new heights</h2>
  <h4>We're passionate about connecting people through exercise</h4>

  <div class="row">
    <div class="small-6 columns">
      We connect you with people who share similar activity/workout interests within your chosen location range. If
      you've ever moved to a new city, needed an extra person for your sports team, or want a friend to try something
      new with, then you know how frustrating it can be.
    </div>
    <div class="small-6 columns">
      With this, you can select activities and instantly find people in your area. Narrow matches according to location
      or age. Click on these matches, view their profiles and blogs, and chat with them to see if you will make good
      workout partners. You can connect on your time when you want and where you want.
    </div>
  </div>

</div>
