<div class="small-12 columns">
  <h2>Because sharing is caring.</h2>
  (FB/twitter/stumbleupon/email/reddit)

  <div class="row">
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <hr/>
  </div>
    <div class="small-12 small columns">
      A word of thanks (:
      <br>
      To the amazing instructors and classmates of Cohort 8 at Bitmaker Labs, what would I have done without all of you.
    </div>

</div>
