<div class="small-12 columns">
  <h2>Because sharing is caring.</h2>
  (FB/twitter/stumbleupon/email/reddit)

  <div class="row">
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
  </div>

</div>
