<h2>Workout partners. Infinite possibilities.</h2>
<h4>Find a friend to workout with today.</h4>

<div class="small-12 columns">
  <h2>Helping your workouts reach new heights</h2>
  <h4>We're passionate about connecting people through exercise</h4>

  <div class="row">
    <div class="small-6 columns">
      We connect you with people who share similar activity/workout interests within your chosen location range. If
      you've ever moved to a new city, needed an extra person for your sports team, or want a friend to try something
      new with, then you know how frustrating it can be.
    </div>
    <div class="small-6 columns">
      With this, you can select activities and instantly find people in your area. Narrow matches according to location
      or age. Click on these matches, view their profiles and blogs, and chat with them to see if you will make good
      workout partners. You can connect on your time when you want and where you want.
    </div>
  </div>

</div>


<div class="small-12 columns">
  <h1>How do I get me some Dopamine?</h1>

  <div class="row">
    <div class="small-2 columns">
      Sign Up
    </div>
    <div class="small-2 columns">
      Update Profile
    </div>
    <div class="small-2 columns">
      Blog
      <br>
      Post your workout routine or a picture!
    </div>
    <div class="small-2 columns">
      Match
      <br>
      Find matches based on desired age and location.
    </div>
    <div class="small-2 columns">
      Chat
    </div>
    <div class="small-2 columns">
      Workout!
    </div>
  </div>
</div>


<div class="small-12 columns">
  <h2>Have questions? We have answers.</h2>

  <div class="row">
    <div class="small-6 columns">
      How did this idea come about?
      <p>No man is an island.</p>
      <br>
      What is dopamine? Why do I want it?
      <p>(Exercise, bonding, happiness)</p>
      <br>
      Give me a quick refresher on internet etiquette.
      <p>Don't be an asshole.</p>
    </div>
    <div class="small-6 columns">
      What web browsers work with this?
      <p>ALL OF THEM!!</p>
      <br>
      Would there be a mobile app?
      <p>You bet your ass there would be one.</p>
      <br>
      How do I delete my profile?
      <p>Why would you want to do that?!</p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="small-12 small-centered columns">
      A word of thanks (:
      <br>
      To the amazing instructors and classmates of Cohort 8 at Bitmaker Labs, what would I have done without all of you.
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <h2>Because sharing is caring.</h2>
    (FB/twitter/stumbleupon/email/reddit)

    <div class="row">
      <div class="small-3 columns">
      </div>
      <div class="small-3 columns">
      </div>
      <div class="small-3 columns">
      </div>
      <div class="small-3 columns">
      </div>
    </div>

  </div>
</div>