Because sharing is caring.
(FB/twitter/stumbleupon/email)

<div class="row">
  <div class="small-3 columns">
  </div>
  <div class="small-3 columns">
  </div>
  <div class="small-3 columns">
  </div>
  <div class="small-3 columns">
  </div>
</div>