<h2>Have questions? We have answers.</h2>

<div class="row">
  <div class="small-6 columns">
		How did this idea come about?
		No man is an island.

		What is dopamine? Why do I want it?
		(Exercise, bonding, happiness)

		Give me a quick refresher on internet etiquette.
		Don't be an asshole.
	</div>
	<br>
  <div class="small-6 columns">
		What web browsers work with this?
		ALL OF THEM!!

		Would there be a mobile app?
		You bet your ass there would be one. 

		How do I delete my profile?
		Why would you want to do that?!
	</div>
</div>
<br>
<div class="row">
  <div class="small-12 columns">
		A word of thanks (:
	</div>
</div>