<div class="row">
  <div class="small-12 columns">
		<h2>Have questions? We have answers.</h2>

		<div class="row">
		  <div class="small-6 columns">
				How did this idea come about?
				<p>No man is an island.</p>
				<br>
				What is dopamine? Why do I want it?
				<p>(Exercise, bonding, happiness)</p>
				<br>
				Give me a quick refresher on internet etiquette.
				<p>Don't be an asshole.</p>
			</div>
		  <div class="small-6 columns">
				What web browsers work with this?
				<p>ALL OF THEM!!</p>
				<br>
				Would there be a mobile app?
				<p>You bet your ass there would be one.</p>
				<br>
				How do I delete my profile?
				<p>Why would you want to do that?!</p>
			</div>
		</div>
		<br>
		<div class="row">
		  <div class="small-12 small-centered columns">
				A word of thanks (:
				<br>
				To the amazing instructors and classmates of Cohort 8  at Bitmaker Labs, what would I have done without all of you.
		</div>
		</div>
	</div>
</div>