<h1>How do I get me some Dopamine?</h1>

<div class="row">
  <div class="small-2 columns">
		Sign Up
	</div>
	<div class="small-2 columns">
		Update Profile
	</div>
	<div class="small-2 columns">
		Blog
		Post your workout routine or a picture!
	</div>
	<div class="small-2 columns">
		Match
		Find matches based on desired age and location.
	</div>
	<div class="small-2 columns">
		Chat
	</div>
	<div class="small-2 columns">
		Workout!
	</div>
</div>